.quiz {
  width: 500px;
  position: relative; }
  .quiz .questions {
    margin: 0 auto; }
  .quiz .arrow-block {
    position: relative;
    margin-top: 20px; }
    .quiz .arrow-block .arrow {
      position: absolute;
      margin: 8px;
      width: 130px;
      height: 25px;
      background-image: url("/img/arrow.png");
      cursor: pointer; }
      .quiz .arrow-block .arrow.prev {
        left: 0;
        background-position: 0 25px; }
      .quiz .arrow-block .arrow.next {
        right: 0;
        background-position: 0 0; }
