.hidden {
  display: none; }

.quiz {
  width: 900px;
  position: relative;
  margin: 30px auto; }
  .quiz .question {
    text-align: center; }
  .quiz .answers {
    margin: 50px auto;
    text-align: center; }
    .quiz .answers .answer {
      display: inline-block;
      margin: 10px;
      width: 162px;
      height: 162px;
      background: url("/img/shape.png") no-repeat;
      background-size: 100%;
      line-height: 162px;
      font-size: 15px;
      text-align: center;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none; }
  .quiz.spinner {
    width: 16px;
    height: 16px;
    background: url("/img/spinner.gif") no-repeat; }
