$imgPath: '/img/';
$quiz-width: 900px;
$shape-width: 162px;
$shape-size: 15px;

.hidden {
	display: none;
}

.quiz {
	width: $quiz-width;
	position: relative;
	margin: 30px auto;
	.question {
		text-align: center;
	}
	.preview {

	}
	.answers {
		margin: 50px auto;
		text-align: center;
		.answer {
			display: inline-block;
			margin: 10px;
			width: $shape-width;
			height: $shape-width;
			background: url($imgPath + 'shape.png') no-repeat;
			background-size: 100%;
			
			line-height: $shape-width;
			font-size: $shape-size;
			text-align: center;

			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
		}
	}
	&.spinner {
		width: 16px;
		height: 16px;
		background: url($imgPath + 'spinner.gif') no-repeat;
	}
}
